* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Luckiest Guy', cursive;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+0,fba6e1+31,fd89d7+72,ff7cd8+100 */
    background: #fcecfc; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #fcecfc 0%, #fba6e1 31%, #fd89d7 72%, #ff7cd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #fcecfc 0%,#fba6e1 31%,#fd89d7 72%,#ff7cd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #fcecfc 0%,#fba6e1 31%,#fd89d7 72%,#ff7cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
;
}

header, footer {
    display: flex;
    align-items: center;
    height: 3rem;
}

header {
    padding-left: 1rem;
    color: rgb(0, 0, 0);
    font-size: 40px;
    justify-content: center;
    margin: 50px 0;
}

#music {
    display: flex;
    justify-content: center;
}

.my_audio {
    background-color: #00e1ff;
    border-radius: 8px;
    cursor: pointer;
    border: 0px solid transparent;
    box-shadow: 2px 2px 5px 2px #000000a8;
    font-family: 'Luckiest Guy', cursive;
    font-size: 15px;
    /* height: 30px;
    width: 100px; */
    margin-bottom: 30px;
}

.my_audio:hover {
    background: #04c7e1;
  }

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#random-dog {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#dog-img {
    /* background-image: url("https://images.dog.ceo/breeds/hound-afghan/n02088094_1003.jpg"); */
    background-size: cover;
    /* height: 300px;
    width: 300px; */
    /* box-shadow: 2px 2px 5px 2px #000000a8; */
}

.breed {
    align-self: center;
    margin-top: 30px;
    font-size: 23px;
}

#btn-choices {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

#fetch-btn {
    background-color: #00e1ff;
    height: 170px;
    margin-bottom: 40px;
    font-size: 35px;
    border-radius: 8px;
    cursor: pointer;
    border: 0px solid transparent;
    box-shadow: 2px 2px 5px 2px #000000a8;
    font-family: 'Luckiest Guy', cursive;
    padding-top: 10px;
}

#fetch-btn:hover {
    background: #04c7e1;
  }

#goodboy-btn {
    background-color: #8dff8d;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    border: 0px solid transparent;
    box-shadow: 2px 2px 5px 2px #000000a8;
    font-family: 'Luckiest Guy', cursive;
    padding-top: 7px;
}

#goodboy-btn:hover {
    background: #77da77;
  }

#badboy-btn {
    background-color: #ff6565;
    width: 140px;
    border-radius: 8px;
    cursor: pointer;
    border: 0px solid transparent;
    box-shadow: 2px 2px 5px 2px #000000a8;
    font-family: 'Luckiest Guy', cursive;
    padding-top: 7px;
}

#badboy-btn:hover {
    background: #c74f4f;
  }


#choices {
    margin-top: 80px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 1fr;
    width: 1100px;
    justify-content: center;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b73a3a+28,b73a3a+73&0+0,0.2+7,0.2+91,0+100 */
background: -moz-linear-gradient(left,  rgba(183,58,58,0) 0%, rgba(183,58,58,0.2) 7%, rgba(183,58,58,0.2) 28%, rgba(183,58,58,0.2) 73%, rgba(183,58,58,0.2) 91%, rgba(183,58,58,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(183,58,58,0) 0%,rgba(183,58,58,0.2) 7%,rgba(183,58,58,0.2) 28%,rgba(183,58,58,0.2) 73%,rgba(183,58,58,0.2) 91%,rgba(183,58,58,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(183,58,58,0) 0%,rgba(183,58,58,0.2) 7%,rgba(183,58,58,0.2) 28%,rgba(183,58,58,0.2) 73%,rgba(183,58,58,0.2) 91%,rgba(183,58,58,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b73a3a', endColorstr='#00b73a3a',GradientType=1 ); /* IE6-9 */


}  

#choices > p {
    display: flex;
    justify-content: center;
}

#good-boy-cntr {
    display: flex;
    /* justify-content: space-evenly;  */
    margin-right: 20px;
    flex-wrap: wrap; 
}

.good-boys.dragging {
    opacity: 0.5;
}

.good-boys {
    display: flex;
    justify-self: flex-start;
    height: 100px;
    background-size: cover;
    width: 100px;
    margin: 10px;
}

#bad-boy-cntr {
    display: flex;
    /* justify-content: space-evenly;  */
    flex-wrap: wrap;  
    margin-left: 20px; 
}

.bad-boys {
    height: 100px;
    width: 100px;
    margin: 10px;
    display: flex;
    justify-self: flex-start;
    background-size: cover;
}

#clear-btn {
    background-color: #00e1ff;
    border-radius: 8px;
    cursor: pointer;
    border: 0px solid transparent;
    box-shadow: 2px 2px 5px 2px #000000a8;
    font-family: 'Luckiest Guy', cursive;
    font-size: 15px;
    height: 30px;
    width: 100px;
    padding-top: 5px; 
    margin-top: 20px;
}

#clear-btn:hover {
    background: #04c7e1;
  }

footer {
    justify-content: center;
}